/* swiper-custom.css */

.swiper-button-prev,
.swiper-button-next {
  color: black; /* Set arrow color */
  background-color: transparent; /* Optional: Set background color */
  width: 10px; /* Adjust arrow width */
  height: 10px; /* Adjust arrow height */
  position: absolute; /* Position arrows absolutely within their parent */
   /* Distance from the bottom */
  top: 550px;
  margin: 10px;
  border: 1px black;
  border-radius: 100%;
  display: flex;
  align-self: center;
  
  z-index: 10; /* Ensure arrows are above other content */
}

.swiper-button-prev {
  left: calc(50% - 60px); /* Adjust position of left arrow */
  

}


.swiper-button-next {
  right: calc(50% - 60px); /* Adjust position of right arrow */
  


}
.mySwiper {
  padding: 10px; /* Add padding to ensure buttons do not overlap cards */
  height: 600px;
}
